<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
var subjectObject = {
  "Science": {
    "Mathematics": ["Links", "Images", "Tables", "Lists"],
    "Chemistry": ["Variables", "Operators", "Functions", "Conditions"],
    "Physics": ["Borders", "Margins", "Backgrounds", "Float"]

  },
  "Commerce": {
    "BBA": ["Variables", "Strings", "Arrays"],
    "BCOM": ["SELECT", "UPDATE", "DELETE"]
  }
}
window.onload = function() {
  var subjectSel = document.getElementById("subject");
  var topicSel = document.getElementById("topic");
  var chapterSel = document.getElementById("chapter");
  for (var x in subjectObject) {
    subjectSel.options[subjectSel.options.length] = new Option(x, x);
  }
  subjectSel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    chapterSel.length = 1;
    topicSel.length = 1;
    //display correct values
    for (var y in subjectObject[this.value]) {
      topicSel.options[topicSel.options.length] = new Option(y, y);
    }
  }
  topicSel.onchange = function() {
    //empty Chapters dropdown
    chapterSel.length = 1;
    //display correct values
    var z = subjectObject[subjectSel.value][this.value];
    for (var i = 0; i < z.length; i++) {
      chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
    }
  }
}
    </script>
</head>
<body style="text-align:center;background-color:lightSalmon;>
<div id="form">
<h1>Application Form</h1>
<form action="base" method="post">
    {% csrf_token %}
    <label></label><input type="text" placeholder="Enter your name"><br>
    <br><label>DOB:</label><input type="date"><br>
    <br><label>Age:</label><input type="number" min="1" max="65"><br>
    <br><label>Gender:</label><input type="radio" name="Gender" value="Male">Male
    <input type="radio" name="Gender" value="Female">Female<br>
     <br><label></label><input type="email" placeholder="Enter your Email" required><br>
     <br><label></label><textarea   placeholder="Enter your Address"></textarea><br>
    <br><label></label><input type="Phone" placeholder="Enter your Phone number" name=""><br>
<form name="form1" id="form1" action="/action_page.php">
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<script>-->
<!--var subjectObject = {-->
<!--  "Science": {-->
<!--    "Mathethamics": ["Links", "Images", "Tables", "Lists"],-->
<!--    "Chemistry": ["Variables", "Operators", "Functions", "Conditions"],-->
<!--    "Physics": ["Borders", "Margins", "Backgrounds", "Float"]-->
<!--  },-->
<!--  "Commerce": {-->
<!--    "BBA": ["Variables", "Strings", "Arrays"],-->
<!--    "BCOM": ["SELECT", "UPDATE", "DELETE"]-->
<!--  }-->
<!--}-->
<!--window.onload = function() {-->
<!--  var subjectSel = document.getElementById("subject");-->
<!--  var topicSel = document.getElementById("topic");-->
<!--  var chapterSel = document.getElementById("chapter");-->
<!--  for (var x in subjectObject) {-->
<!--    subjectSel.options[subjectSel.options.length] = new Option(x, x);-->
<!--  }-->
<!--  subjectSel.onchange = function() {-->
<!--    //empty Chapters- and Topics- dropdowns-->
<!--    chapterSel.length = 1;-->
<!--    topicSel.length = 1;-->
<!--    //display correct values-->
<!--    for (var y in subjectObject[this.value]) {-->
<!--      topicSel.options[topicSel.options.length] = new Option(y, y);-->
<!--    }-->
<!--  }-->
<!--  topicSel.onchange = function() {-->
<!--    //empty Chapters dropdown-->
<!--    chapterSel.length = 1;-->
<!--    //display correct values-->
<!--    var z = subjectObject[subjectSel.value][this.value];-->
<!--    for (var i = 0; i < z.length; i++) {-->
<!--      chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);-->
<!--    }-->
<!--  }-->
<!--}-->
    <br><br>
   Department: <select name="Department" id="Department">
    <option value="" selected="selected">Please select department</option>
    <option value="Return">Science</option>
    <option value="Return">commerce</option><select>
  </select>
<br><br>

Courses: <select name="topic" id="topic">
    <option value="" selected="selected">Please select course</option>
     <option value="Place order">Mathematics</option>
    <option value="Return">Chemistry</option>
    <option value="Place order">Physics</option>
    <option value="Return">BBA</option>
    <option value="Return">Bcom</option><select>

  </select>
    <br><br>
    <label>Purpose:</label><select>
     <option value="" selected="selected">Please select purpose</option>
    <option value="Enquiry">Enquiry department:
    <option value="Place order">Place order</option>
    <option value="Return">Return</option><select>
  </select>
  <br><br>
        Material Provide:</option>

</select>
    <label>Material Provide:</label><input type="checkbox" value="Debit Note Book">Debit Note Book
     <input type="checkbox" value="Pen">Pen
     <input type="checkbox" value=" Exam Pappers">Exam pappers<br><br>
     <input type="submit" value="Submit">
     <input type="submit" value="Logout">


</form>
    </div>

</body>
</html>