<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body style="text-align:center;background-color:pink;">
<h1> Login Here </h1>
<form action="login" method="post">
    {% csrf_token %}

    <br><input type="text" name="username" placeholder="Enter Your Username"><br>
    <br><input type="password" name="password" placeholder="Enter Your password"><br>
    <br><label>First you register and then you can login</label>
   <br><a href="/register">Register here</a><br>
    <br><input type="submit"><br>


    </center>

</form>

</body>
</html>